{% extends "base.html" %}
{% block content %}
<section data-bs-version="5.1" class="form5 cid-v0jnQzwY28" id="form02-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Atualizar Senha</strong>
          </h3>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto mbr-form">
        <form action="{{ url_for('change_password') }}" method="POST" class="mbr-form form-with-styler">
          <div class="dragArea row">

            <div class="col-12 form-group mb-3">
              <label for="current_password" class="form-label">Senha Atual</label>
              <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>

            <div class="col-12 form-group mb-3">
              <label for="new_password" class="form-label">Nova Senha</label>
              <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>

            <div class="col-12 form-group mb-3">
              <label for="confirm_password" class="form-label">Confirmar Nova Senha</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>

            <div class="col-12 align-center mbr-section-btn">
              <button type="submit" class="btn btn-primary display-7">Atualizar Senha</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
